$color-primary-color: #F1CDB3; 
$color-primary-light: #FDDCC4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$footer-gradient-background: url(../../assets/images/noise_transparent@2x.png), 
radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), 
#211F20;

$card_hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

@mixin h2 {
    font: {
        family: Georgia;
        size: 4.4rem;
        weight: normal;
    }    
    line-height: 130%;    
}

@mixin h3 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.5rem;
    }    
    line-height: 130%; 
    letter-spacing: 0.21rem;   
}

@mixin h4 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 2rem;
    }    
    line-height: 115%; 
    letter-spacing: 0.12rem;   
}

@mixin h5 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }    
    line-height: 110%; 
    letter-spacing: 0.09rem;   
}

@mixin paragraph-l {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.5rem;
    }    
    line-height: 160%;  
}

@mixin paragraph-s {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 1.2rem;
    }    
    line-height: 150%;  
}


@mixin logo_title {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 3.2rem;
    }  
    line-height: 110%;   
    letter-spacing: 0.192rem;  
    text-decoration: none;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.3rem;
    }    
    line-height: 110%;  
    letter-spacing: 0.13rem; 
    text-decoration: none; 
}

@mixin slider_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    box-shadow: inset 0 0 0 0.2rem $color-primary-color;
    border: 0.3rem solid $color-primary-color;
    border-radius: 100%;
    padding: 1.9rem;
    cursor: pointer;
    transition-duration: 0.5s;
    background: none;
    border: none;
    outline: none;

    &:hover {
        box-shadow: none;
        background-color: $color-primary-light;

    }
}

@mixin button() {
    // padding: 1.5rem 4.5rem;
    font-size: 1.7rem; 
    border-radius: 10rem;
    line-height: 130%;
    letter-spacing: 0.108rem;
    cursor: pointer;
    outline: none;
    border: none;
    transition-duration: 0.5s;
}

@mixin button_primary() {
    background-color: $color-primary-color;

    &:hover {
        background-color: $color-primary-light;        
    }

    border: none;

    @include button();
}

@mixin button_secondary() {
    padding: 1.5rem 4.5rem;
    // width: 18.7;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $color-primary-color;

    &:hover {
        box-shadow: none;
        background-color: $color-primary-light;        
    }

    @include button();
}

@mixin pagination_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    box-shadow: inset 0 0 0 0.2rem $color-primary-color;
    border: 0.3rem solid $color-primary-color;
    border-radius: 100%;
    padding: 1.9rem;
    cursor: pointer;
    transition-duration: 0.5s;
    background: none;
    border: none;
    outline: none;

    &:hover {
        box-shadow: none;
        background-color: $color-primary-light;

    }
}

:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.burger-menu {
    display: none;
}

.pets-header {
    width: 100vw;
    max-width: 100%;
    position: sticky;
    min-height: 9rem;
    background-color: $color-light-xl;
    z-index: 2;
    padding-top: 3rem;
    padding-bottom: 2rem;
    position: sticky;
    top: 0;
    
    .wrapper {
        display: flex;
        margin: 0 auto;
        // max-width: 120rem;
        flex: 1;
        justify-content: space-between;
    }   
    
    .logo {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        text-decoration: none;
        
        &__title {
        color: $color-dark-l;
        @include logo_title();
        }
    
        &__subtitle {
        margin-top: 1rem;
        text-align: center;
        color: $color-dark-3xl;
        @include logo_subtitle();
        }
    }
}

.nav {
    width: 44.3rem;
    display: flex;

    &-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
            
        &__item {
            display: flex;
            align-items: center;
                
            .nav-list__link {
                font-family: Arial;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 160%;
                text-decoration: none;
                    
                &_active {
                    border-bottom: solid 0.3rem $color-primary-color;
                }
    
                &_disabled {
                    color: $color-dark-3xl;
                }
            }        
        }
    }
}

.main {
    background-color: $color-light-l;
    &__wrapper {
        padding-top: 8rem;
        padding-bottom: 10rem;
        flex-direction: column;
    }

    &-pets__title {
        color: $color-dark-l;
        text-align: center;
        @include h3();

        span {
            display: block;
        }
    }

    &-pets-cards {
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4rem;
        row-gap: 3rem;
    }

    &-paginations {
        display: flex;
        margin-top: 6rem;
        justify-content: center;

        &__button {
            margin: 0 1rem;
            @include pagination_button();
            @include h4();

            &_active {
                box-shadow: none;
                background-color: $color-primary-color;
                cursor: auto;

                &:hover {
                    background-color: $color-primary-color;
                }
            }

            &:disabled {
                box-shadow: inset 0 0 0 0.3rem $color-dark-s;

                &:hover {
                    box-shadow: inset 0 0 0 0.3rem $color-dark-s;
                    background-color: transparent;
                    cursor: auto;
                }
            }
        }        
    }
}

.pets-card {
    display: flex;
    flex-direction: column;
    border-radius: 0.9rem;

    &:hover {
        box-shadow: $card_hover;
    }

    &__image {
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        align-items: center;

    }

    &__title {
        margin: 3rem 0;
        text-align: center;
        @include h4();
    }

    &__button {
        @include button_secondary(); 
    }
}

@media screen and (max-width: 1280px) {
    .main {
        padding-bottom: 7.6rem;
    }

    .main-pets__title {
        padding-top: 8rem;
    }

    .main-pets-cards {
        display: flex;
        justify-content: center;
    }

    .pets-cards:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 30rem;
    }

    .main {
        padding: 0;

        &__wrapper {
            padding: 4rem 0 7rem 0;
            display: contents;
        }
    }

    // .pets-header {
    //     max-width: 30rem;
    // }

    .nav {
        display: none;
    }

    .main-pets {
        &__title {
            margin: 2rem;
            font-size: 2.1rem;
            padding-top: 0;
        }        
    }
    
    .pets-cards {
        margin-top: 0;
        padding: 0 0 0 0;

    }

    .pets-cards:nth-child(6) {
        display: none;
    }

    .pets-cards:nth-child(5) {
        display: none;
    }

    .main-paginations {
        margin-top: 2rem;
        margin-bottom: 2rem;

        &__button {
            width: 4.2rem;
            height: 4.2rem;
        }
    }
}